@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,600");

:root {
    --body-color: rgba(250, 250, 250);
    --color-white: rgba(250, 250, 250);
    --text-color-second: rgba(33, 33, 33);
    --first-color: rgba(168, 212, 237);
    --first-shadow: #F0F0F0;

    --box-color: #fff;
    --nav-color: #fff;
    --nav-icon: #212121;
    --logo-color: #212121;

    --text-color: #212121;
    --icon-color: #212121;
    --mode-color: #ccc;
}

/* Thème clair */
body {
    background: var(--body-color);
    color: var(--text-color);
    font-family: "Poppins", sans-serif;
    margin-left: 60px;
    margin-right: 60px;
}

/* Style pour le bouton "Retour" */
.back-button {
    background: none;
    border: none;
    color: var(--nav-icon);
    font-size: 18px;
    cursor: pointer;
    margin-right: 20px;
    font-family: "Poppins", sans-serif;
    transition: color 0.3s;
}

.back-button:hover {
    color: var(--first-color);
}

/* Modification de la largeur du header pour inclure le bouton retour */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 40px);
}

/* Style pour le titre central */
.main-title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    margin: 40px 0;
    color: #102E5B;
    font-family: "Poppins", sans-serif;
}

/* Bouton pour ouvrir le modal */
.open-modal-btn {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.open-modal-btn:hover {
    background-color: #0056b3;
}

.modal-container {
    display: none; /* Caché par défaut */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    
}

/* Modal */
.modal {
    display: none; /* Caché par défaut */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 800px;
    position: relative;
}

/* Style pour le bouton de fermeture */
.close-btn {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
}

.close-btn:hover {
    color: #bbb;
}

/* Défilement photos */
.carousel-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.screenshots-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    margin: 0 20px;
}

.screenshot {
    width: 85%; 
    flex-shrink: 0;
    height: auto; 
    object-fit: cover; 
    margin: 0% 7.5%;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 10;
}

.left-btn {
    left: 10px;
    border-radius: 50px;
}

.right-btn {
    right: 10px;
    border-radius: 50px;
}


/* Style pour le bouton Toggle Theme */
#toggle-switch {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

#toggle-switch:hover {
    background-color: #555;
}

/* Conteneur du compte à rebours */
#countdown-circle {
    position: fixed;
    width: 80px;
    height: 80px; 
    background-color: #A8D4ED; 
    border-radius: 50%; 
    background-color: #f0f0f0; 
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid #0000FF; 
}

/* Chiffre du compte à rebours */
#countdown-number {
    font-size: 36px; 
    color: #102E5B; 
    position: flex; 
    display: flex;
}
