@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,600");


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --body-color : rgba(250,250,250);
    --color-white : rgba(250,250,250);
    --text-color-second : rgba(33,33,33);
    --first-color : rgba(168,212,237);
    --first-shadow: #F0F0F0;

    --box-color : #fff;
    --nav-color : #fff;
    --nav-icon : #212121;
    --logo-color : #212121;

    --text-color : #212121;

    --icon-color : #212121;
    --mode-color : #ccc;
}

body {
    background: var(--body-color);
}

/* Position et style du cercle de décompte */


/* Conteneur du compte à rebours */
#countdown-circle {
    position: relative;
    display: inline-block; /* Permet de contenir le cercle autour du chiffre */
    width: 100px; /* Ajustez selon la taille souhaitée */
    height: 100px; /* Ajustez selon la taille souhaitée */
    border-radius: 50%; /* Rend le div en forme de cercle */
    background-color: #f0f0f0; /* Couleur de fond du cercle */
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid #0000FF; /* Couleur et largeur du bord du cercle */
}

/* Chiffre du compte à rebours */
#countdown-number {
    font-size: 36px; /* Ajustez la taille du texte selon vos besoins */
    color: #102E5B; /* Couleur du texte */
    position: relative; /* Assure que le texte est bien positionné à l'intérieur du cercle */
}


/* Style pour les trois dernières secondes */
#countdown-circle.red {
    background-color: #ff0000; 
}

/*---dark mode---*/

.container {
    width: 100%;
    position: relative;
}

html {
    scroll-behavior: smooth;
}

/*---Header---*/

nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    line-height: 100px;
    background: var(--nav-color);
    padding-inline: 5vw;
    transition: 0.3s;
    z-index: 100;
}

.nav-menu .nav_menu_list {
    display: flex;
    column-gap: -30px;
}

.nav-menu .nav_list {
    list-style: none;
    position: relative;
    cursor: pointer;
}

.nav-logo {
    position: relative;
}

.logo-img {
    max-width:712px;
    max-height:74px;
    padding-top: 30px;
}

/* Style des liens de navigation */
.nav-link {
    text-decoration: none;
    color: #102E5B;
    font-weight: 500;
    padding: 10px 15px;
    margin: 0 10px;
    position: relative;
}

/* Trait bleu sous le lien actif */
.nav-link.active-link::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    color: #102E5B;
    background-color:#A8D4ED;
    bottom: -5px; 
    left: 0;
    transition: background-color 0.3s ease;
}

/*---Wrapper---*/

.wrapper {
    padding-inline: 5vw;
}


/*---Box---*/

.featured-box {
    position: relative;
    display: flex;
    min-height: 700px;
    align-items: center; /* Align children vertically in the center */
    padding: 20px;
    padding-bottom: 50px;
}

.about-me * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

/*---Featured text---*/

.Bonjour {
    padding-top: 60px;
}

.featured {
     flex-direction: column;
}

.featured-text {
    position: relative;
    display: flex;
    justify-content: center;
    min-height: 95vh;
    flex-direction: column;
    width: 45%;
    padding-left: 20px;
    font-size: 50px;
}

.featured-text .hello {
    font-size: 50px;
    font-weight: 500;
    margin-bottom: -20px;
    color: var(--text-color);
}

.featured-name {
    font-size: 5Opx;
    font-weight: 600;
    margin-block: 20px;
    color:#102E5B;
    margin-bottom: 10px;
}

.typedText {
    font-family: sans-serif;
    color: #102E5B;
    font-size: 8px;
    font-weight: 600;
    text-transform: capitalize;
}

.text-info {
    font-size: 16px;
    margin-bottom: 30px;
    color: var(--text-color);
}

/*-Boutons-*/

.Embaucher {
    display: flex; /* Centre le contenu à l'intérieur */
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    margin: 0px; /* Ajustez selon vos besoins */
    border: 1.5px solid #102E5B;
    border-radius: 10px;
    background-color: #102E5B;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.5s ease, color 0.5s ease; /* Transition pour l'effet de survol */
    text-decoration: none; /* Enlève le soulignement si bouton sous forme de lien */
    height: 50px;
}

.text-btn {
    display: flex;
    cursor: pointer;
    gap: 20px;
    height: 50px;
}

.btn i {
    margin-right: 10px;
}

i {
    font-size: 16px;
}

/*---Texte + Image---*/

.section1 {
    display: flex; /* Ajouté pour afficher les éléments en ligne */
    flex-direction: row; /* Change direction to horizontal */
    align-items: center; /* Centrer verticalement les éléments */
    justify-content: 400px; /* Ajouter de l'espace entre les deux éléments */
    gap: 300px; /* Optionnel : espace entre les éléments */
}

/*---Image---*/

.featured-image {
    justify-content: center;
    align-items: center;
    width: 30%;
}

.image {
    margin-top: 10%;
    width: 200px;
    height: 400px;
    overflow: hidden;
    animation: imgFloat 5s ease-in-out infinite;
}

.image img {
    width: 200px;
    height: 400px;
    object-fit: cover;
}

@keyframes imgFloat {
    50% {
        transform: translateY(50px);
    }
}

/*---Social icons---*/


.social_icons {
    display: flex;
    margin-left: 5px;
    gap: 32px;
    color: #102E5B; 
    text-decoration: none; 


}

.social_icons .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    color: var(--icon-color);
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
}

.icon_circle {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    animation: iconSlide 5s infinite alternate;
    transform: translate(75%, 75%) !important;
    background: transparent;
}

@keyframes iconSlide {
    25% {
        border: 2px solid #A8D4ED;
        left: -19px;
    }
    50% {
        border: 2px solid #A8D4ED;
        left: 29px;
    }
}

.social_icons:hover .icon_circle {
    animation-play-state: paused;
    cursor: pointer;
}


/*---Main---*/

.section {
    padding-block: 4em;
}

.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 5Opx;
}

.col {
    display: flex;
    width: 49%;
}

.top-header {
    text-align: center;
    margin-bottom: 5em;
}

.top-header h1 {
    font-weight: 600;
    color: var(--text-color);
    margin-bottom: 10px;
}

/*---Parcours scolaire---*/

.Informations {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 50px;
    background: #fff;
    box-shadow: 1px 8px 10px 2px var(--first-shadow);
    border-radius: 20px;

}

.about-me * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.Informations figcaption {
     width: 100%;
     padding: 25px;
     position: relative;
}

.about-me .Profil {
    border-radius: 50%;
    position: absolute;
    bottom: 100%;
    left: 20px;
    z-index: 1;
    background-color: #fff;
    max-width: 90px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.about-me h2 {
    color: var(--text-color);
}

.about-me p {
    margin-top: 10px;
    color: var(--text-color);
}

.Informations .About-me-btn {
    text-decoration: none;
    font-size: 15px;
    padding: 10px 20px;
    cursor: pointer;
    border: 1.5px solid #102E5B;
    border-radius: 10px;
    background: #fff;
    color: #102E5B;
    margin-top: 0px;
    font-weight: 500;
    transition: background-color 0.5s ease, color 0.5s ease; /* Transition pour le fond et la couleur du texte */
}

.Informations .About-me-btn:hover {
    background: #102E5B;
    color: #fff;
    transform: scale(1); /* Ajoute un léger agrandissement lors du survol */
}

.Profil {
    padding-bottom: 20px;
}

/*---Domaines de compétences---*/

.logo-carousel {
    overflow: hidden; /* Cache les éléments hors du cadre */
    width: 100%; /* Ajuste la largeur selon ton besoin */
    position: relative;
}

.logo-track {
    display: flex;
    width: calc(250px * 8); /* Ajuste selon le nombre de logos et leur taille */
    animation: scroll 20s linear infinite; /* Animation pour faire défiler */
}

.logo {
    width: 70px; /* Ajuste la taille des logos */
    height: 70px;
    margin: 0 15px; /* Espacement entre les logos */
}

/* Animation du défilement */
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%); /* Ajuste pour faire défiler exactement la moitié */
    }
}

/*---Projets---*/

.project-item {
    display: block;
    text-decoration: none;
    color: inherit;
}


.project-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 20px 0;
}

.project-item {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border-radius: 8px;
}

.project-item img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
}

.project-item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    background: rgba(0, 0, 0, 0.5); /* Optionnel: Ajoute une couche sombre au-dessus de l'image */
}

.project-item .overlay img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.project-item .overlay h3 {
    position: relative;
    z-index: 2;
    color: #fff;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}

.project-item:hover img {
    transform: scale(1.1);
}

.project-item:hover .overlay {
    opacity: 1;
}

/*---Contact---*/

.col1 {
    display: flex;
    width: 49%;
    margin: 70px;
}

.contact-info {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    padding: 20px 40px;
    width: 100%;
    height: 380px;
    border-radius: 30px;
    box-shadow: 1px 8px 10px 2px var(--first-shadow);
    overflow: hidden;
    cursor: pointer;
    transition: background-color 0.5s ease, color 0.5s ease; /* Transition pour le fond et la couleur du texte */
}

.contact-info > h2 {
    color: var(--text-color);
    margin-bottom: 20px;
}
    
.contact-info > p {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--text-color);
    margin-block: 5px;
}

.contact-info:hover {
    background-color: #102E5B;
}

.contact-info:hover.contact-info h2,
.contact-info:hover.contact-info p,
.contact-info:hover.contact-info i {
    color: #fff;
    z-index: 2;
}

/*---Formulaire de contact---*/

.form-control {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;

}

.form-inputs {
    display: flex;
    gap: 10px;
    width: 100%;
}

.input-field {
    width: 50%;
    height: 55px;
    background: transparent;
    border: 2px solid #A8D4ED;
    padding-inline: 20px;
    border-radius: 10px;
    outline: none;
}

.input-subject {
    width: 100%;
    height: 55px;
    background: transparent;
    border: 2px solid #A8D4ED;
    border-radius: 10px;
    padding-inline: 20px;
    margin-bottom: 10px;
    outline: none;
}

textarea {
    width: 100%;
    height: 185px;
    background: transparent;
    border: 2px solid #A8D4ED;
    padding: 15px 20px;
    color: var(--texte-color);
    border-radius: 10px;
    outline: none;
    resize: none;
}

.form-button > .btn {
    align-items: center;
    justify-content: center;
    margin-left: 40%;
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    padding: grab;
    padding: 10px 20px;
    cursor: pointer;
    border: 1.5px solid #102E5B;
    border-radius: 10px;
    background: #fff;
    color: #102E5B;
    margin-top: 0px;
    font-weight: 500;
    transition: background-color 0.5s ease, color 0.5s ease; /* Transition pour le fond et la couleur du texte */
}

.form-button > .btn:hover {
    background: #102E5B;
    color: #fff;
    transform: scale(1); /* Ajoute un léger agrandissement lors du survol */
}

/*---Footer---*/

.bottom-footer {
    font-size: 14px;
    color: var(--box-color);
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #102E5B;
}

.btn {
    display: flex; /* Centre le contenu à l'intérieur */
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    margin: 0px; /* Ajustez selon vos besoins */
    border: 1.5px solid #102E5B;
    border-radius: 10px;
    background-color: #fff;
    color: #102E5B;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.5s ease, color 0.5s ease; /* Transition pour l'effet de survol */
    text-decoration: none; /* Enlève le soulignement si bouton sous forme de lien */
}

.btn:hover {
    background-color: #102E5B; /* Changement de couleur du fond au survol */
    color: #fff; /* Changement de couleur du texte au survol */
}